@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
.bg-primary{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-primary{
    color: #FF900E;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding:20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;

}

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* header style */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2.8rem;
    font-weight: bold;
}
.nav-links{
    font-size: 18px;
    font-weight: 500;
}
.nav-item{
   margin-right: 30px;
   list-style: none;
}
.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
}
.banner-description{
    font-size: 16px;
    margin-bottom: 30px;
}
.banner-img{
    width: 100%;
}

/* our features style */
.teams{
    align-items: center;
    margin-top: 80px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 70px;
    max-width: 530px;
}
.feature-title{
    font-weight: bold;
    font-size: 2.8rem;
}
.features-description{
    font-size: 16px;
    margin-bottom: 30px;
}
.quick-list{
    font-weight:500;
}


/* responsive media query */
@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features {
    margin-left: 0;
  }
}
