@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar{
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
.nav-menu{
    display: flex;
   gap: 10px;
}
.nav-menu li a{
    text-decoration: none;
}
.nav-menu li{
    list-style: none;
}